spring:
  config:
    import: optional:file:.env[.properties]

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      jedis:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
      timeout: 3000ms

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            redirect-uri: ${KAKAO_REDIRECT_URI}
            authorization-grant-type: authorization_code
            scope: profile_nickname,profile_image
            client-name: Kakao
            client-authentication-method: none
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

server:
  port: ${SPRING_PORT:8080}

jwt:
  secret: ${JWT_SECRET}
  access-token-expiration: ${JWT_ACCESS_TOKEN_EXPIRATION}
  refresh-token-expiration: ${JWT_REFRESH_TOKEN_EXPIRATION}

app:
  domain: ${SPRING_DOMAIN}
  oauth2:
    redirect-uri: ${OAUTH2_REDIRECT_URI}
  auth:
    key: ${AUTH_KEY}

firebase:
  service-account-key: ${FIREBASE_SERVICE_ACCOUNT_KEY:}
  url: https://fcm.googleapis.com/v1/projects/${Firebase_ID}/messages:send
  google_api: https://www.googleapis.com/auth/cloud-platform
  project_id: ${Firebase_ID}

google:
  maps:
    api-key: ${GOOGLE_MAP_API_KEY}

file:
  upload-dir: ${FILE_UPLOAD_DIR}
  base-url: ${SPRING_DOMAIN}

aws:
  access-key: ${S3_ACCESS_KEY}
  secret-key: ${S3_SECRET_KEY}
  region: ${S3_REGION}
  s3:
    bucket-name: ${S3_BUCKET}
    base-url: ${S3_BASE_URL}